/*
common css
*/
html {
  @import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&display=swap");
}
body {
  font-family: "Lobster", cursive;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}
.nav-logo {
  font-size: 2em;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-right: 1em;
}
.navbar ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
}
/*--------------------------
navbar icon style
-----------------------------*/
.search-icon,
.add-to-card-icon {
  font-size: 1.5em;
}
ul li a:hover {
  color: #e02c6d;
  transition: color 0.8;
}

.influencer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  background-color: #e02c6d;
  padding: 8px 20px;
  color: white;
  border-radius: 25px;
  font-weight: 700;
}
.influencer-title,
.influencer p {
  margin-bottom: 1em;
}
.influencer p {
  text-align: justify;
}
.influencer-info,
.influencer-camera {
  width: 40%;
}
.influencer-camera {
  /* background-image: url("images/Circle design.svg"); */
  background-position: center;
  transition: transform 2s;
}
.influencer-camera:hover {
  transform: scale(1.5) rotate(-15deg);
}
.brand-logo {
  margin: 5em 0;
}
.brand-logo ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 0;
}
.brand-logo ul li {
  list-style: none;
}
hr {
  /* border: 1px solid #a1a1a1; */
  background-color: #aaaaa;
}
/*----------------------------------------------
style collection items 
-------------------------------------------------*/

.collections-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2em 0;
}
.collection-item {
  box-shadow: 8px 10px 8px 20px whitesmoke;
  padding: 1em;
  border-radius: 5px;
}
.collection-title {
  text-align: center;
}
.fa-star,
.fa-star-half {
  color: #fb8200;
}
.price,
.item-info {
  margin-top: 1em;
}
.item-info {
  padding: 1em;
}
.item-info p {
  text-align: justify;
}
.collection-img {
  width: 300px;
}
.align-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
/*--------------------------------------
start customer review section style
-----------------------------------------*/
.customer-review {
  padding-bottom: 3em;
}
.customer-review ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.customer-review ul li {
  list-style: none;
}
.customer-review img {
  width: 56px;
}
.public-title {
  text-align: center;
  padding: 3em 0;
}
/*end collection item style*/

/* start footer style  */
footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  background: #0a0826;
  color: white;
  padding: 3em 0;
}
.footer-sociel-icon {
  width: 15%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

/* end footer style  */
/*------------------------------------
Media Query for mobile device
--------------------------------------*/
@media only screen and (max-width: 600px) {
  .influencer,
  .collections-items,
  .brand-logo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .influencer-info,
  .influencer-camera {
    width: 90%;
    padding: 2em;
  }
  .influencer img {
    width: 100%;
  }

  .navbar,
  footer {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .influencer,
  .collections-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .influencer-info,
  .influencer-camera {
    width: 90%;
    padding: 2em;
  }
  .influencer img {
    width: 100%;
  }
}
